---
layout: page
title: Jor Mongan
---

<p><img src="/assets/images/acerca3.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p>Jor Mongan es artista y co-directora del Festival Danzafuera de la ciudad de La Plata. Se formó como bailarina y coreógrafa, en ámbitos no académicos en su mayoría. Fue becada como agente en el Centro de Investigaciones Artísticas 2017 y participó de la escuela de Marina De Caro por varios años.
Sus últimas producciones suelen desarrollarse por series de ejercicios y pruebas que permiten abordar el estado de pregunta acerca de cómo la performatividad colabora o interviene en las formas, sistemas y medios para el vivir.
Concibe las relaciones afectivas como algo prioritario para la realización de sus investigaciones siendo sus obras y talleres los espacios en donde intercambiar y compartir su trabajo.</p>
