---
layout: page
title: Participaciones
---

<h1>Los pedictos de muerte</h1>
<p>Noviembre 2024</p>
<p>Teatro Argentino. La Plata</p>


<pre>Queda Ud. participadx de Los pedacitos de muerte.
Tiene a partir de ahora un compromiso con sus difuntxs y con su propio espíritu. Antes de que caiga el sol, deje su ofrenda en el altar.

Maestrxs de ceremonia: La Fantasía corre en la Oscuridad.</pre>

<hr>

<p><img src="/assets/images/pedacito1.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito2.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito3.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito4.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito5.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito6.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito7.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/pedacito8.jpg" alt="foto" data-action="zoom"></p>
<hr>

<h1>Un plano gravita</h1>
<p>Agosto 2023</p>
<p>Taller la ciudad  (CABA)</p>


<pre>Un plano gravita
Mueve con él todo el oxígeno del mundo
Se condensa,
parece que va a explotar
Desborda la vista
Solamente queda escuchar
qué movimiento es el que sigue</pre>

<p>Ensayo sobre el reverdecer</p>

<p>Performance de Mnemo y Jor Mongan en el marco de la muestra “Noche abajo” de Florencia Breccia.</p>
<hr>

<p><img src="/assets/images/plano1.jpeg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/plano2.jpeg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/plano3.jpeg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/plano4.jpeg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/plano4.jpeg" alt="foto" data-action="zoom"></p>
<hr5

<hr>

<h1>Tercer paisaje</h1>
<h3>Suspensión y resistencia</h3>
<p>Por Guille y Jor Mongan</p>
<p>Junio 2023. MALBA.</p>


<p>¿Es posible imaginar un lugar que no esté determinado por el ejercicio del poder o por la sumisión al mismo? ¿Cómo podríamos, desde las objetualidades, desanudar las relaciones de poder que parecen inobjetables? Proponemos suspensión y resistencia como dos conceptos, dos potenciales acciones desde las cuales sumergirnos en esa tensión. Un horizonte donde intentar construir, de manera colaborativa, un intersticio sensible de experimentación común y desde allí poder delinear un tercer paisaje en el cual incomodar el orden pre-establecido.</p>

<hr>

<p><img src="/assets/images/suspencion1.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/suspesion2.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/suspension3.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/suspension4.jpg" alt="foto" data-action="zoom"></p>
<hr>


<h1>Activación en el marco de la exposición Chromotopie de la désobéissance</h1>
<br>
<p>Febrero 2023. Besanzón. Francia.</p>
<br>
<br>

<p>Activación que realizamos junto a Manon Louis Tisserand en el marco de la exposición Chromotopie de la désobéissance de Marina de Caro.</p>

<hr>

<p><img src="/assets/images/chromo2.png" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/chromo3.jpg" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/chromo4.jpg" alt="foto" data-action="zoom"></p>
<hr>

<h1>Iteraciones sobre lo no mismo</h1>
<br>
<br>
<br>

<p>Teniendo como disparador la pregunta en torno a la posibilidad de transponer corporalmente los indicadores de movimiento presentes en una selección de pinturas y esculturas de la colección de abstracción geométrica del MACBA, Guillermina Mongan nos invitó a un grupo de coreógrafxs, bailarinxs e investigadorxs en danza y música a analizar la composición de cada obra con el objetivo de trazar de manera presencial y colectiva, notaciones o partituras de esa experiencia, para ser luego interpretadas.</p>

<p>ITERACIONES SOBRE LO NO MISMO
Curaduría: Guillermina Mongan
Equipo de investigación:
Miguel Garutti. Músico e investigador
Gonzalo Lagos. Bailarín y curador independiente
Jor Mongan.  Artista , coreógrafa y bailarina.
Marie Bardet. Investigadora en danza y filosofía</p>

<p>Registro de la  interpretación de  partituras junto a Celia Argüello</p>

<p><img src="/assets/images/iteraciones-01.png" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/iteraciones.png" alt="foto" data-action="zoom"></p>
<hr>

<iframe src="https://player.vimeo.com/video/355006053?h=56b5e103ce" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<hr>

<h1>La insistencia del Movimiento</h1>

<p>La insistencia del movimiento. Intervención performática realizada junto con Alma Laprida, coordinada por Guillermina Mongan en el marco de la muestra ¨El teatro de la pintura¨, curada por Jimena Ferreiro. Museo de Arte Moderno de Buenos Aires. Ciudad Autónoma de Buenos Aires. Argentina. 2015.</p>

<p><a href="https://museomoderno.org/exposiciones/el-teatro-de-la-pintura-artistas-argentinos-en-dialogo-con-sonia-delaunay">Nota https://museomoderno.org/exposiciones/el-teatro-de-la-pintura-artistas-argentinos-en-dialogo-con-sonia-delaunay</a></p>
<br>

<p><img src="/assets/images/insistencia1.png" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/insistencia2.png" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/insistencia3.png" alt="foto" data-action="zoom"></p>
<hr>

<p><img src="/assets/images/insistencia4.png" alt="foto" data-action="zoom"></p>
<hr>

<iframe src="https://player.vimeo.com/video/128393372?h=46e09dd21a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

