---
layout: page
title: Talleres
---

<h1>Laboratorio de metodologías poético performáticas</h1>
<h4>Octubre 2024</h4>
<p>Planta Alta - La Plata</p>

<p>Partiendo de los proyectos de cada participante (en proceso o por realizarse) el taller laboratorio coordinado por Jor y Guille Mongan propuso un conjunto de ejercicios a partir de corpografías, mapas mentales, dibujos y  actos-rituales,  para acercarse a posibles procedimientos donde cuerpo e imagen se unieron insistiendo en la dimensión performativa de la investigación artística.</p>

<p><img src="/assets/images/planta_alta1.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/planta_alta2.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/planta_alta3.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/planta_alta4.jpg" alt="foto" data-action="zoom"></p>

<hr>

<h1>Cúmulo de ejercicios</h1>
<h4>Marzo a diciembre de 2023</h4>
<p>Residencia geriátrica Balcarce - Museo Moderno - CABA</p>

<p>Cúmulo de ejercicios consiste en encuentros semanales con adultxs mayores de la Residencia geriátrica Balcarce con el deseo de ampliar el movimiento físico y estimular el imaginario  de las personas que allí viven y trabajan, como así también sostener un espacio de creatividad y exposición con y a través de ejercicios y procedimientos de la Danza.
Hemos articulado con el Museo Moderno para realizar visitas y acciones en relación con algunas de sus exposiciones.</p>

<p><img src="/assets/images/cumulo1.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/cumulo2.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/cumulo3.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/cumulo4.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/cumulo5.jpg" alt="foto" data-action="zoom"></p>
<hr>


<h1>De las fuerzas entre el cuerpo y las cosas.</h1>
<h4>Taller compartido en el marco de Hibridalaboratorio. CABA. Marzo 2023.</h4>

<p>¿Cuál es la gramática de tu cuerpo?¿Qué potencialidades tiene para colaborar con tu obra?  ¿En qué tipo de relación queremos probar con las cosas ?¿Podemos generar una escucha en dónde las cosas nos elijan a nosotrxs, y no nosotrxs a las cosas?</p>

<p>Realizaremos una serie de ejercicios para deshabituarnos, desorientarnos, desarticularnos y agudizar nuestra percepción.
Trabajaremos con el cuerpo como catalizador y receptor de intensidades y su posibilidad de re-crearse en y con el entorno.
Generaremos una conversación con lo concreto y lo invisible dependiendo de lo que cada  unx necesite investigar.</p>

<p><img src="/assets/images/fuerzas1.jpg" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/fuerzas3.jpg" alt="foto" data-action="zoom"></p>

<hr>

<h1>After Office</h1>
<h4>(Abril 2018 -La Plata)</h4>

<p>After Office es un taller para trabajar ciertas inquietudes sobre el cuerpo y sus
desplazamientos partiendo de la danza como un lugar desde donde investigarlo.
El cansancio para deshabituar los modos de pensamiento, la conversación entre
el cuerpo y las imágenes que aparecen mientras bailamos, el encuentro con las
cualidades de los objetos y los tipos de movimientos que le pueden proponer al cuerpo, serán
algunos de los ejes que desarrollaremos.</p>

<p><img src="/assets/images/after_office.png" alt="foto" data-action="zoom"></p>
<hr>

<h1>Ejercicios sobre lo escurridizo</h1>
<h4>(Agosto 2018 -La Plata)</h4>

<p>A través de la relación entre ejercicios corporales y textos seleccionados para cada encuentro se promoverá el intercambio de experiencias vinculadas a las identidades y su performatividad.</p>

<p>Dirigido a artistas visuales, del movimiento, escénicos, filósofxs, sociólogxs, antropólogxs, escritorxs, serigrafistas, músicxs y a todas aquellas personas que se encuentren interesadas.</p>

<p><img src="/assets/images/escurridizo0.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/escurridizo2.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/escurridizo3.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/escurridizo1.png" alt="foto" data-action="zoom"></p>
<hr>

<h1>El Cuerpo Prelingüístico</h1>
<h4>(Mayo 2021 - C.A.O.S, Villa Elvira, La Plata)</h4>

<p>El taller consiste en compartir en grupo y al aire libre una serie de ejercicios que transitarán
por la vibración de la voz, el dibujo y la construcción de gestos. La idea es adentrarnos en un estado previo a la lengua.</p>

<p><img src="/assets/images/preling0.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/preling1.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/preling2.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/preling3.png" alt="foto" data-action="zoom"></p>
<hr>

<h1>Para inducir al espíritu provocador de las imágenes</h1>
<h4>(Marzo 2022 - BP21)</h4>

<p>El laboratorio explora puntos de contacto entre imágenes que han atravesado nuestra visualidad y su relación con el concepto de "provocación". A partir de la construcción colectiva de nuestro imaginario visual en torno a lo que percibimos como provocador, se compartirán ejercicios que vinculen dispositivos conceptuales, curatoriales y corporales para, entre todxs, ensayar distintas posibilidades de poner en común dicha conceptualización.</p>

<p><img src="/assets/images/inducir0.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/inducir1.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/inducir2.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/inducir3.png" alt="foto" data-action="zoom"></p>
<hr>


<h1>De cómo habitar el museo</h1>
<h4>(Junio 2022 - MAMBA)</h4>

<p>La Red de Escucha y Acompañamiento es un espacio de creación abierto a todxs aquellxs que quieren explorar
formas de creación artisticas colectiva. Así, el contacto con artistas que comparten sus prácticas y experiencias,
el grupo va decidiendo sobre el ritmo y el rumbo de sus investigaciones.</p>

<p>El museo es un régimen de signos que se expresa
en lo corporal. ¿Cómo son los cuerpos recibidos en el museo? ¿Qué tipo de recorridos y atención proponen las muestras, talleres
y actividades? ¿Qué relación se establece entre el tiempo, el espacio y los discursos?</p>

<p>El comportamiento, donde las emociones se vuelven cuerpo y el movimiento se materializa, es un lugar privilegiado para
estudiar los mecanismos del poder y sus coacciones, su capacidad de modelar lo cotidiano, gestos, lenguajes, percepciones y sensibilidades.</p>

<p>Jor Mongan propone hacer del museo un medium. A través de un cúmulo de ejercicios, su propuesta busca convocar otras fuerzas,
en un plano físico y psíquico, con la intención de explorar procedimientos y coreografías para trans-formar la performatividad cotidiana
con la que el poder se presenta como normalidad.</p>

<p>La propuesta es compartir una serie de ejercicios con las personas que asisten al espacio de Red de Escucha y Acompañamiento (REA) para probar y proponer entre todxs, modos no convencionales de habitar, recorrer, percibir, intervenir el museo.
Trazar gestos, dislocar los sentidos, realizar partituras espaciales, conversar con el cuerpo, desarticular el cuerpo cotidiano, son algunas de las acciones que llevaremos a cabo.</p>

<p><img src="/assets/images/museo1.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/museo2.png" alt="foto" data-action="zoom"></p>
<p><img src="/assets/images/museo0.png" alt="foto" data-action="zoom"></p>
<hr>
