<nav>
  <ul class="header__list">
    <li><a href="/tag/obra">Obra</a></li>
    <li><a href="{{ '/acerca-de' | prepend: site.baseurl }}">Acerca de</a></li>
    <li><a href="{{ '/participaciones' | prepend: site.baseurl }}">Participaciones</a></li>
    <li><a href="{{ '/talleres' | prepend: site.baseurl }}">Talleres</a></li>
    <li><a href="mailto:jormongan@gmail.com">Contacto</a></li>
  </ul>
</nav>
