---
layout: default
---
<section class="post">
  <div>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{ page.title }}</h2>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <img class="" style="max-width: 50%; display: block; margin: 0 auto;" src="{{ page.image }}">
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" style="text-align: justify;">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</section>
