---
layout: default
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2 itemprop="name headline">{{ page.title }}</h2>

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" style="text-align: justify;" itemprop="articleBody">
          {{content}}
        </div>

        {% include share.html %}
      </div>
    </div>

    <!-- Everything inside the #author tags pulls data from the author -->
    {% if page.author %}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid-small">
          {% for author in page.author %}
            {% assign authorDetails = site.author | where: "name", author %}
            {% if forloop.first == true %}
              <span class="post__author">Escrito por
            {% else %}
              <span class="post__author">&amp;
            {% endif %}
            {% if authorDetails[0]["url"] %}<a href="{{ authorDetails[0]['url'] }}" title="More By {{ author }}">{% endif %}{{ author }}{% if authorDetails[0]["url"] %}</a>{% endif %}</span>
            <p class="post__bio">{{ authorDetails[0]["bio"] }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include disqus.html %}

  </article>
</div>

<!-- Links to Previous/Next posts -->
{% assign relatedTag = page.tags | first %}
{% if relatedTag %}
  <section class="related section-padding">
    <div class="grid-xlarge">
      <h2 class="related__title">Relacionado</h2>
      <div class="related__container">
        {% for post in site.tags[relatedTag] limit: 3 %}
          <article class="related__post">
            <a class="related__link" href="{{ post.url | absolute_url }}">
              {% if post.image %}
                <figure class="related__img">
                  <img src="{{ post.image }}" alt="{{ post.title }}"/>
                </figure>
              {% endif %}
              <div>
                <h2 class="related__text">{{ post.title }}</h2>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
